{{> title data="Alberts Einstein"}}
<ul>
    <li>
        <div>{{birthdate}}</div>
        <div>{{birthplace}}</div>
        <div>{{deathdate}}</div>
        <div>{{deathplace}}</div>
        <div>{{nationality}}</div>
    </li>
</ul>
<hr>

{{> title data="Occupation"}}
<ol>
    {{#each known_for}}
    <li>{{this}}</li>
    {{/each}}
</ol>
<hr>

{{> title data="Education"}}
<ul>
    {{#each education}}
    <li>
        <div>{{degree}}</div>
        <div>{{field}}</div>
        <div>{{institution}}</div>
        <div>{{year}}</div>
    </li>
    {{/each}}
</ul>
<hr>

{{> title data="Notable_publications"}}
<ul>
    {{#each notable_publications}}
    <li>
        <div>{{title}}</div>
        <div>{{year}}</div>
        <div>{{publisher}}</div>
    </li>
    {{/each}}
</ul>
<hr>

{{> title data="Partners"}}
<ul>
    {{#each partners}}
    <li>
        <div><b>{{name}}</b></div>
        <div>{{relationship}}</div>
        <div>{{years}}</div>
    </li>
    {{/each}}
</ul>
<hr>

{{> title data="Awards"}}
<ul>
    {{#each awards}}
    <li>
        <div>{{title}}</div>
        <div>{{year}}</div>
        <div>{{description}}</div>
    </li>
    {{/each}}
</ul>
<hr>

{{> title data="Influences"}}
<ol>
    {{#each influences}}
    <li>{{this}}</li>
    {{/each}}
</ol>
<hr>

{{> title data="Influenced"}}
<ol>
    {{#each influenced}}
    <li>{{this}}</li>
    {{/each}}
</ol>
<hr>

{{> title data="Quotes"}}
<ol>
    {{#each quotes}}
    <li>{{this}}</li>
    {{/each}}
</ol>
<hr>

{{> title data="Major_discoveries"}}
<ul>
    {{#each major_discoveries}}
    <li>
        <div>{{title}}</div>
        <div>{{year}}</div>
        <div>{{description}}</div>
    </li>
    {{/each}}
</ul>

{{> title data="Contributions"}}
<ul>
    <li>
        <div>{{contributions.title}}</div>
        <div>{{contributions.description}}</div>
        <div>{{contributions.year}}</div>
        <div>{{contributions.field}}</div>
    </li>
</ul>