<main class="p-5">

    <div class="row g-5">
        <div class="col-12">
            {{#with header}}
            <div class="header col-2">
                {{#with name}}
                <div class="col-10">{{firstname}} {{lastname}}</div>
                {{/with}}
                <div>{{description}}</div>
            </div>
            {{/with}}

            <div class="col-2 mt-3">
                {{#each pages}}
                <a href="{{this.link}}" class="btn btn-primary mb-2">
                    {{name}}
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</main>