<main>
    {{#each navigation.links}}
    <a href="{{href}}" class="btn btn-link">
        {{text}}
    </a>
    {{/each}}
    <a href="{{navigation.button.href}}" class="btn btn-primary"> {{navigation.button.text}}</a>
    <hr>

    <br>
    <h1 class="display-1">{{header.title}}</h1>
    <p>{{header.description}}</p>
    <a href="{{header.button.link}}" class="btn btn-primary">
        {{header.button.text}}
    </a>
    <br>
    <br>
    <hr>

    <br>


    <h2 class="display-2">{{city.title}}</h2>
    <div class="row gx-5">
        {{#each city.cards}}
        <div class="card col-6 gy-4">
            <img class="card-img-top texy-bg-secondary" src="{{picture.src}}" alt="{{picture.alt}}">
            <div class="card-body">
                <h6 class="card-titte">{{title}}</h6>
                <p>{{description}}</p>
                <br>
                <a href="{{button.href}}" class="btn btn-primary">
                    {{button.text}}
                </a>
            </div>
        </div>
        {{/each}}
    </div>


    <hr>

    <h2 class="display-2">{{winner.title}}</h2>
    <table class="table">
        <thead>
            <tr>
                {{#each winner.table.head}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{#each winner.table.user}}
            <tr>
                <td>{{place}}</td>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
    <hr>

    <br>
    <h2 class="display-2">{{gallery.title}}</h2>
    <br>

    <div class="row">
        {{#each gallery.cards}}
        <div class="card col-3 ms-2">
            <div class="card-header text-bg-secondary"></div>
            <div class="card-body">
                <h6 class="card-titte">{{name}}</h6>
                <ul class="list-group">
                    <li class="list-group-items">{{items}}</li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    <hr>


    <h2 class="display-3">{{relaxion.title}}</h2>
    <div class="row gx-5">
        {{#each relaxion.cards}}
        <div class="card col-5 gy-5 m-2 text-bg-secondary gx-5">
            <div class="card-header">{{header}}</div>
            <div class="card-body">
                <h6 class="card-titte">{{title}}</h6>
                <div>{{description}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>
    <br>



    <div class="row">
        {{#each rest.cards}}
        <div class="card col-6">
            <div class="card-header text-center text-bg-secondary m-3">{{header}}</div>
            <div class="card-body text-center">
                <h6 class="card-titte">{{title}}</h6>
                <p>{{description}}</p>
                <button class="btn text-center btn-primary">{{button}}</button>
            </div>
            <div class="card-footers text-center text-bg-secondary">{{footer}}</div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>



    <br>
    <div class="row">
        <h2 class="display-2">{{proposition.title}}</h2>
        {{#each proposition.card}}
        <div class="card text-bg-warning col-6">
            <div class="card-header text-center">{{header}}</div>
            <div class="card-body text-center">
                <h6 class="card-titte">{{title}}</h6>
                <p>{{description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <hr>

    <h2 class="display-5">{{footer.title}}</h2>
    <div class="row">
        <div class="col-4">
            {{#each footer.navigation}}
            <a href="{{href}}" class="btn btn-link btn-outline-primary">
                {{text}}
            </a>
            {{/each}}


            {{#each footer.socialMedia}}
            <a href="{{link}}" class="btn btn-link btn-outline-dark">
                {{name}}
            </a>
            {{/each}}

            {{#each footer.partners}}
            <a href="{{link}}" class="btn btn-link btn-outline-info">
                {{name}}
            </a>
            {{/each}}
        </div>
    </div>
</main>