<section>
    <ul>
        {{#each web.languages}}
        <li>
            <div>{{name}}</div>
            <div>{{version}}</div>
            <div>{{description}}</div>
            <div>{{elements.name}}</div>
            <div>{{elements.description}}</div>
            <di></di>
        </li>
        {{/each}}
    </ul>
</section>
<hr>