<div class="row">
    <div class="card">
        {{#each goodsBlock.cards}}
        <img class="card-img-top text-bg-secondary" src="{{cards.image}}">
        <div class="card-body">
            <h6 class="card-titte">{{title}}</h6>
            <p>{{description}}</p>
            <a href="{{button.href}}" class="btn btn-primary">
                {{button.text}}
            </a>
        </div>
        {{/each}}
    </div>
</div>